*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;


    font-style: none;
    list-style: none;

}
:root{
    font-size: 62.5%;

    --color-black-300: hsl(240, 5%, 7%);
    --color-black-500:  hsl(240, 6%, 13%);
    --color-white-30:   hsla(0, 0%, 100%, 0.2);
    --color-white-100: hsl(0, 0%, 100%);
    --color-blue-300: hsl(199, 59%, 55%);
    --color-blue-400:  hsl(195, 46%, 40%);
    --color-blue-500: hsl(195, 91%, 25%);

}
body{
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 400;
    font-family: 'Mulish',sans-serif;
}

.page{
    display: grid;
    
}


header{
    display: grid;
    grid-template-areas: "A B C";
    height: 7.2rem;
    padding: 1.6rem 2.8rem;
    gap: 24px;
    background: var(--color-blue-500);

    
    align-items: center;

}


#logo{
    width: 4rem;
    height: 4rem;
    
    background:none;

    grid-area: A;

    justify-self: end;

}
.input-wrapper{
    gap: 2.4rem;
    grid-area: B;
    
}
.input-wrapper label{
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}
.input-wrapper input{
    padding: 1.2rem 1.4rem;
    
    width: 100%;
    
    
    border: none;
    border-radius: 4px;
    
    background: var(--color-white-30);
    color: var(--color-white-100);
}
.input-wrapper input::placeholder{
    color: var(--color-white-100);
    
    font-weight: 600;
    font-size: 1.6rem;
    text-align: 1.6rem;
    font-family: 'Mulish',sans-serif;
}

.h-img{
    width: 4.2rem;
    height: 4.2rem;
    
    background: var(--color-blue-300);
    border-radius: 50%;
    grid-area: C;
}


main #main-img{
    
    width: 100%;;
    border-radius: 5px;


    
    

}
.section-main{
    padding: 3.2rem 2.4rem 2.4rem;

}
.title{
    margin-bottom: 3.2rem;
}
.title h2{
    margin-bottom: .8rem;
}
h2{
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.2rem;
    color:var(--color-black-500);
}

p{
    color: var(--color-black-300);
}
.button-container{
    width: max-content;
    display: grid;
    grid-template-areas: "A B";
    gap: 1.2rem;
    
}
#like{
    grid-area: A ;
}
#loathe{
    grid-area: B;
}
.button-wrapper img{
    display: flex;
    width:  1.6rem;
    height: 1.6rem;
}
.button-wrapper{
    width: 4.0rem;
    height: 4.0rem;
    padding: 1.2rem;
    
    border-radius: 999px;
    
    
    gap: 10px;
    background-color: var(--color-blue-500);

    position: relative;

    transition: .3s;
}

.button-wrapper input{
    position: absolute;
    top:0%;
    left:0%;
    width: 4.0rem;
    height: 4.0rem;
    border-radius: 999px;
    border: none;
    z-index: -1;

}
.button-wrapper:hover{
    background-color: var(--color-blue-300);
    cursor: pointer;
}

.section-main{
    margin-bottom: 3.4rem;
}

.sidebar{
    display: grid;
    gap: 3.2rem;
}
.sidebar article{
    display: grid;
    grid-template-areas:
    'A B';
    
    gap: 1.6rem;

}
.sidebar article:hover{
    cursor: pointer;
    opacity: .8;
}
.sidebar article img{
    grid-area: A;
    border-radius: 5px;

}
.sidebar article .text {
    grid-area: B;
}
.sidebar article .text h3{
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.8rem;
    color:var(--color-black-500);
}
footer{
    height: 6.4rem;
    padding: 1.6rem;
    margin-top: 3.2rem;
    
    background: var(--color-blue-400);
    
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p {
    color: #FFF;
    
    font-style: normal;
    font-weight: 600;
    line-height: 1.6rem;
    
    
}

@media(min-width: 750px){
    .page{
        display: grid;
    }
    header{
        height: 7.2rem;
        padding: 1.2rem 11.2rem;
        display: grid;
        grid-template-columns: repeat( 1 ,max-content 4fr max-content);

        
        align-items: center;
        
    }
    header .input-wrapper{
        width: 100%;
    }

    

    main{
        padding: 4rem 11.2rem;
        display: grid;
        grid-template-areas: 
        'A A C'
        'B B C';
;

        column-gap: 3.4rem;
    }
    #main-img{
        grid-area: A;
    }
    .section-main{
        grid-area: B;
    }
    .section-main .title{
        display: grid;
        grid-template-areas: 'A B';
        justify-content: space-between;

    }
    
    .sidebar{
        grid-area: C;
        row-gap: 3.2rem;
        column-gap: 1.6rem;
    }

}

/* Effects */



header{
    --startY: -100%;
    animation-name: move;
    animation-duration: .5s;
}
footer{
    --startY: 100%;
    animation-name: move;
    animation-duration: .5s;
    
}
@keyframes move{
    from{
        transform: translateY(var(--startY));
    }

}

.img-item{
    --delay:.1s;

    animation-name : emerge ;
    animation-duration: .9s;
    animation-delay:var(--delay);
    animation-fill-mode: backwards;
}

@keyframes emerge {

    0% {
        opacity: 0;
        transform: scale(0);
    }

    50%{
        transform: scale(1.2);
    }
    
}

